{% extends '../message/message_layout.html' %}
{% block style %}
{% endblock %}

{% block main_content %}
<script>
if('{{myTeam.length}}' == '0'){
  alert('팀장으로 활동하는 팀이 없어 대전신청할 수 없습니다.');
  window.close();
}
</script>
<div id="main_box">
  <div id="info_box">
  <p class="font_title">경기 신청</p>
  <p class="font_content">To <b>{{target.nick}}</b>..</p>
  <p class="font_content">Match <b>{{match.title}}</b>..</p>
  </div>
  <br><hr>
  <div class="input-group">
    <label>제목</label>
    <input id="message_title">
  </div>
  <div class="input-group">
    <label>팀 선택</label>
    <select id="op_team_id"> 
    {% for team in myTeam %}
      <option value="{{team.id}}">{{team.team_name}}</option>
    {% endfor %}
    </select>
  </div>
  <textarea id="message_area" rows="12" cols="70">내용 최대 1000자 입력</textarea>
  <br><br>
  <input id="target_id" type="hidden" value="{{target.id}}">
  <button class="btn_l" onclick="send();">신청 완료</button>
  <button class="btn_l" onclick="cancel();">취소</button>
</div>
{% endblock %}

{% block script %}
<script>
  function send(){
    const value = document.getElementById('message_area').value;
    const title = document.getElementById('message_title').value;
    const opteamID = document.getElementById('op_team_id').value;
    if("{{match.Rootteam.id}}" == opteamID){
      alert('대전 상대가 같은 팀입니다.');
      return;
    }
    if(value.trim() < 1 || value.trim() > 50){
      alert('1-50자 이내의 제목을 입력해주세요');
      return;
    }
    if(value.trim() < 1 || value.trim() > 1000){
      alert('1-1000자 이내의 내용을 입력해주세요');
      return;
    }
    axios.post('/message/{{target.id}}', { title : title, content :  value, targetNick : '{{target.nick}}', type : 'apply', match_id : '{{match.id}}', opteamID})
    .then((res) => {
        if(res.data.res == "success"){
            alert('대전 신청이 완료되었습니다.');
            window.close();
         }
         else if(res.data.res == "exist"){
            alert('대전이 존재하지 않습니다.');
            window.close();
         }
         else if(res.data.res == "alldone"){
            alert('이미 매칭이 완료된 대전입니다.');
            window.close();
         }
        else{
            alert('대전 신청에 실패했습니다.');
            window.close();
        }
        opener.location.reload();
    });
  }
  function cancel(){
    window.close();
  }
</script>
{% endblock %}