{% extends 'layout.html' %}
{% block style %}
<style>
    #info_box{
        margin : auto;
        padding : 10px;
        text-align : center;
        font-size : 15px;
    }
    #list_box{
        margin : auto;
        width : 600px;
        text-align : center;
    }
    #list_box table{
        margin : auto;
        border-collapse : collapse;
    }
    #list_box table tr th{
        background-color: rgb(0, 161, 0);
        border-top : 1px solid black;
        border-bottom : 1px solid black;
        padding : 3px;
    }
    #list_box table tr td{
        background-color: white;
        border-bottom : 1px solid black;
        padding : 3px;
        text-overflow:ellipsis;
    }
    .info_input{
        margin-top : 5px;
        padding : 2px;
        font-size : 15px;
    }

</style>
{% endblock %}
{% block main_content %}
<div id="info_box">
    <p class="font_title">사람 검색</p>
    <p class="font_content">함께 경기할 사람들을 검색해보세요!</p>
    <br>
    <form>
    <select name="type" class="info_input">
        <option value = "s_all">전체 조회</option>
        <option value = "s_name">이름 검색</option>
        <option value = "s_id">ID 검색</option>
        <option value = "s_nick">별명 검색</option>
    </select>
    <input type="text" class="info_input" name="content">
    <input class="btn_l" type="button" value="검색" onclick="search_ck(this.form)">
    </form>
    <br><hr><br>
    <div id="list_box">
        <table id="search_list">

        </table>
    </div>
    <br>
    <div id="pager">
    </div>
</div>

{% endblock %}

{% block script %}
<script>
$(function(){
    search('/user/all?type=all');
});
const search = (url) => {
    axios.get(url)
        .then((res) => {  
            console.log(res.data.res);
            const list = document.getElementById('search_list');
            const pager = document.getElementById('pager');
            list.innerHTML = 
            '<tr><th width="90">프로필 사진</th><th width="90">이름</th><th width="90">ID</th><th width="150">닉네임</th><th width=120">상세보기</th></tr>';
            pager.innerHTML = "";
            if(res.data.res == 'success'){
                const member = res.data.member;
                res.data.member.map((x) => {
                    const tableTr = document.createElement('tr');
                    const imgTd = document.createElement('td');
                    const nameTd = document.createElement('td');
                    const idTd = document.createElement('td');
                    const nickTd = document.createElement('td');
                    const showTd = document.createElement('td');
                    const btn_show = document.createElement('button')
                    const imgElement = document.createElement('img');
                    imgElement.width = "90";
                    imgElement.height = "90"
                    if(x.photo == "" || x.photo == null){
                        imgElement.src = '/img/profile_non.png'
                    }
                    else{
                        imgElement.src = x.photo;
                    }
                    imgTd.appendChild(imgElement);
                    nameTd.textContent = x.user_name;
                    idTd.textContent = x.user_id;
                    nickTd.textContent = x.nick;
                    btn_show.textContent = "프로필 보기"
                    btn_show.className = "btn_l";
                    //상세조회 버튼 이벤트리스너 추가
                    btn_show.addEventListener('click', () => { 
                        location.href= "/user/profile/" + x.id;
                    });
                    showTd.appendChild(btn_show);
                    tableTr.appendChild(imgTd);
                    tableTr.appendChild(nameTd);
                    tableTr.appendChild(idTd);
                    tableTr.appendChild(nickTd);
                    tableTr.appendChild(showTd);
                    list.appendChild(tableTr);
                    pager.innerHTML = res.data.pager;
                });
            }   
            else{
                alert('검색 결과가 없습니다.');
            }
        })
        .catch((err) => {
            console.error(err);
        });
}
const search_ck = (f) => {
    if(f.content.value.trim() == ''){
        alert("내용을 한 글자 이상 입력하세요");
        return;
    }
    const url = '/user/' + f.content.value + '?type=' + f.type.value;
    search(url);
    };
</script>
{% endblock %}
