{% extends 'layout.html' %}
{% block style %}
<style>
#info_box{
    margin: auto;
    margin-bottom : 10px;
    padding : 10px;
    text-align : center;
    font-size : 15px;
}
#content_box{
    margin : auto;
    margin-top : 15px;
    width : 600px;
    font-size : 15px;
    font-family : 'Do Hyeon';
    text-align : center;
}
#content_box table{
    margin : auto;
    border-collapse : collapse;
}
#content_box table tr th{
    padding : 4px 5px;
    text-align : left;
    font-size : 19px;
    color : green;
    border-bottom : 1.5px dotted black;
}
#content_box table tr td{
    padding : 4px 5px;
    text-align : left;
    font-size : 15px;
    border-bottom : 1.5px dotted black;
}
#message_area{
    margin-top : 15px;
    font-size : 12px;
    padding : 5px;
    text-overflow : ellipsis;
    text-align : left;
    font-family : Arial, Helvetica, sans-serif;
}
#match_info{
    margin : 30px auto;
    width : 540px;
    padding : 20px;
    overflow : hidden;
    text-align : center;
}
#util_box{
    margin : 15px auto;
    width : 540px;
    padding : 15px;
    text-align : center;
}
#root_team{
    width : 240px;
    padding : 10px;
    float : left;
    background-color : lightgray;
    border : 1.5px dotted red;
}
#op_team{
    width : 240px;
    float : right;
    padding : 10px;
    background-color : lightgray;
    border : 1.5px dotted blue;
}
.match_tb{
    margin : auto;
    border-collapse : collapse;
    font-family : Arial, Helvetica, sans-serif;
}
#root_team h2{
    color : darkslategray;
    font-size : 25px;
    font-family: 'Do Hyeon';
}
#op_team h2{
    color : darkslategray;
    font-size : 25px;
    font-family: 'Do Hyeon';
}
#root_team p{
    color : black;
    font-size : 20px;
    font-family: 'Do Hyeon';
}
#op_team p{
    color : black;
    font-size : 20px;
    font-family: 'Do Hyeon';
}
.match_tb tr th{
    padding : 4px 5px;
    text-align : left;
    font-size : 16px;
    border-bottom : 1.5px solid black;
}
.match_tb tr td{
    padding : 4px 5px;
    text-align : left;
    font-size : 15px;
    border-bottom : 1.5px solid black;
}
.match_member_tb{
    margin : auto;
    border-collapse : collapse;
    font-family : Arial, Helvetica, sans-serif;
    background-color: rgb(243, 242, 242);
}
.match_member_tb tr th{
    padding : 3px 5px;
    text-align : left;
    font-size : 12px;
    border-bottom : 1.5px solid lightgray;
}
.match_member_tb tr td{
    padding : 3px 5px;
    text-align : left;
    font-size : 10px;
    border-bottom : 1.5px solid lightgray;
    cursor : pointer;
}
</style>
{% endblock %}

{% block main_content %}
<div id="info_box">
    <p class="font_title">{{match.title}}</p>
</div><hr>
<div id="content_box">
    <table>
        <tr>
            <th width="120">&bull; 제목</td>
            <td width="400">{{match.Rootteam.team_name}}</td>
        </tr>
        <tr>
            <th>&bull; 매칭 상태</td>
            <td>{{match.state}}</td>
        </tr>
        <tr>
            <th>&bull; 대전 유형</td>
            <td>{{match.type}}</td>
        </tr>
        <tr>
            <th>&bull; 시간</td>
            <td>{{match.time}}</td>
        </tr>
        <tr>
            <th>&bull; 장소</td>
            <td>{{match.region}}</td>
        </tr>
    </table>
    <textarea id="message_area" rows="25" cols="70" readonly>{{match.content}}</textarea>
</div>
<div id="match_info">
    <p class="font_title">대전 정보</p>
    {% if isMember %}
    <input type="button" class="btn_sp" value="채팅방 입장" onclick="chatting();">
    {% endif %}
    <hr><br>
    <div id="root_team">
        <h2>Home Team</h2>
        {% if match.Rootteam.photo == "" or match.Rootteam.photo == null %}
        <img id="per_photo" src='/img/profile_non.png' width="150" height="150"/>
        {% else %}
        <img id="per_photo" src='{{match.Rootteam.photo}}' width="150" height="150"/>
        {% endif %}
        <p><a href='/team/{{match.Rootteam.id}}'>{{match.Rootteam.team_name}} </a></p>
        <br><hr><br>
        <h2>팀원</h2><br>
        <table class="match_member_tb">
            <tr>
                <th width="120px">이름</th>
                <th width="120px">닉네임</th>
                <th width="40px">레벨</th>
                <th width="40px">비고</th>
            </tr>
            {% for member in match.Rootteam.Users %}
            <tr onclick='location.href= `/user/profile/{{member.id}}`'>
                <td>{{member.user_name}}</td>
                <td>{{member.nick}}</td>
                <td>{{member.user_level}}</td>
                <td>
                    {% if member.id == match.Rootteam.leader_idx %}
                    팀장
                    {% else %}
                    팀원
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div id="op_team">
        <h2>Away Team</h2>
        {% if match.Opteam %}
        {% if match.Opteam.photo == "" or match.Opteam.photo == null %}
        <img id="per_photo" src='/img/profile_non.png' width="150" height="150"/>
        {% else %}
        <img id="per_photo" src='{{match.Opteam.photo}}' width="150" height="150"/>
        {% endif %}
        <p><a href='/team/{{match.Opteam.id}}'>{{match.Opteam.team_name}} </a></p>
        <br><hr><br>
        <h2>팀원</h2><br>
        <table class="match_member_tb">
            <tr>
                <th width="120px">이름</th>
                <th width="120px">닉네임</th>
                <th width="40px">레벨</th>
                <th width="40px">비고</th>
            </tr>
            {% for member in match.Opteam.Users %}
            <tr onclick='location.href= `/user/profile/{{member.id}}`'>
                <td>{{member.user_name}}</td>
                <td>{{member.nick}}</td>
                <td>{{member.user_level}}</td>
                <td>
                    {% if member.id == match.Rootteam.leader_idx %}
                    팀장
                    {% else %}
                    팀원
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>
        {% else %}
        <p>아직 대전 상대가 없습니다!</p>
        <br><hr><br>
        <input type="button" class="btn_l" value="대전 신청" onclick="match_apply();">
        {% endif %}
    </div>
</div>
<div id="util_box">
    <hr><br>
    {% if user.id == match.Rootteam.leader_idx and match.state == '대천 찾는 중'%}
    <input type="button" value="정보 수정" class="btn_l" onclick="update();"> 
    <input type="button" value="대전 종료" class="btn_l" onclick="del();">
    {% endif %}
    {% if match.state == '매칭 완료' %}
    {% if user.id == match.Rootteam.leader_idx or user.id == match.Opteam.leader_idx %}
    <input type="button" value="정보 수정" class="btn_l" onclick="update();"> 
    <input type="button" value="대전 종료" class="btn_l" onclick="del();">
    {% endif %}
    {% endif %}
</div>
{% endblock %}

{% block script %}
<script>
const update = () => {
    location.href = "/match/updateform/{{match.id}}" 
}
const del = () => {
    const query = confirm('정말로 대전을 종료하시겠습니까?');
    if(query){
        axios.delete('/match/{{match.id}}')
        .then((res) => {
            const result = res.data.res;
            if (result == 'success') {
                alert('대전이 종료되었습니다. 대전 정보가 삭제됩니다.');
                location.href=`/match/list`;
                return;
            }
            alert('대전 종료 중 문제가 발생했습니다.');
            location.href=`/match/list`;
        })
        .catch((err) => {
            console.error(err);
        });
    }
}

const match_apply = () => {
    if(!'{{user}}'){
        alert('로그인 후 이용하세요');
        return;
    }
    window.open("/message/applyform/{{match.id}}", "대전 신청하기", "width=550, height=450, left=300, top=50, scrollbars=yes");
}

const chatting = () => {
    location.href = '/room/{{room_id}}?type=match';
}
</script>
{% endblock %}
