{% extends 'layout.html' %}
{% block style %}
<style>
    #info_box{
        margin : auto;
        padding : 10px;
        text-align : center;
        font-size : 15px;
    }
    #info_box .title{
        font-family : 'Do Hyeon';
        font-size : 40px;
        font-weight : bold;
    }
    #list_box{
        margin : auto;
        width : 600px;
        text-align : center;
    }
    #list_box table{
        margin : auto;
        border-collapse : collapse;
    }
    #list_box table tr th{
        background-color: rgb(0, 161, 0);
        border-top : 1px solid black;
        border-bottom : 1px solid black;
        font-size : 13px;
        padding : 6px 3px;
    }
    #list_box table tr td{
        background-color: white;
        border-bottom : 1px solid black;
        padding : 6px 3px;
        font-size : 10px;
        text-overflow:ellipsis;
    }
    #search_list tr{
        cursor:pointer;
    }
    .info_input{
        margin-top : 5px;
        padding : 2px;
        font-size : 15px;
    }
    .board_link{
        margin : 15px auto;
        padding  : 6px;
        font-size : 15px;
        font-family: 'Do Hyeon';
        background: lightgreen;
        cursor : pointer;
    }

    
</style>
{% endblock %}

{% block main_content %}
<div id="info_box">

    <p class="font_title">팀원 영입 게시판</p>
    <p class="font_content">새로운 팀원을 구하는 게시판입니다.</p>
    <br>
    <form>
    <select name="type" class="info_input">
        <option value = "s_all">전체 조회</option>
        <option value = "s_title">제목 검색</option>
        <option value = "s_position">포지션 검색</option>
        <option value = "s_type">유형 검색</option>
        <option value = "s_region">지역 검색</option>
    </select>
    <input type="text" class="info_input" name="content">
    <input class="btn_l" type="button" value="검색" onclick="search_ck(this.form)">
    </form>
    <br><hr>
    <div id="list_box">
        <input class="btn_sp" type="button" value="새로운 게시글 올리기" onclick="insert_board()" style="margin: 20px auto;">
        <table id="search_list">

        </table>
    </div>
    <br>
    <div id="pager"></div>
</div>
{% endblock %}

{% block script %}
<script>
$(function(){
    search('/team/offer/list/all?type=all');
});
const search = (url) => {
    axios.get(url)
    .then((res) => {  
            console.log(res.data.res);
            const list = document.getElementById('search_list');
            const pager = document.getElementById('pager');
            list.innerHTML = '<tr><th width="120">팀명</th><th width="150">제목</th><th width="100">구인 유형</th><th width="100">구인 포지션</th><th width="120">활동 지역</th><th width=120">등록일</th></tr>';
            pager.innerHTML = "";
            if(res.data.res == 'success'){
                const offers = res.data.offers;
                offers.map((x) => {
                    const tableTr = document.createElement('tr');
                    const teamTd = document.createElement('td');
                    const titleTd = document.createElement('td');
                    const typeTd = document.createElement('td');
                    const positionTd = document.createElement('td');
                    const regionTd = document.createElement('td');
                    const regdateTd = document.createElement('td');

                    teamTd.textContent = x.Team.team_name;
                    titleTd.textContent = x.title;
                    typeTd.textContent = x.type;
                    positionTd.textContent = x.position;          
                    regionTd.textContent = x.Team.region;
                    regdateTd.textContent = x.createdAt;
                    titleTd.style = "font-size:12px; font-weight:bold;"
                    tableTr.appendChild(teamTd);
                    tableTr.appendChild(titleTd);
                    tableTr.appendChild(typeTd);
                    tableTr.appendChild(positionTd);
                    tableTr.appendChild(regionTd);
                    tableTr.appendChild(regdateTd);
                    tableTr.addEventListener('click', () => { 
                        location.href= "/team/offer/" + x.id;
                    });
                    list.appendChild(tableTr);
                    pager.innerHTML = res.data.pager;
                });
            }   
            else{
                alert('검색 결과가 없습니다.');
            }
        })
        .catch((err) => {
            console.error(err);
        });    
}
    const search_ck = (f) => {
        if(f.content.value.trim() == '' && f.type.value != 's_all'){
            alert("내용을 한 글자 이상 입력하세요");
            return;
        }
        if(f.type.value == 's_all'){
            f.content.value = 'all';
        }
        const url = '/team/offer/list/' + f.content.value + '?type=' + f.type.value;
        search(url);
    };

    const list_board = () => {
        location.href = "/team/list"
    };

    const insert_board = () => {
        location.href = "/team/offer/insertform"
    };

</script> 
{% endblock %}

