*{margin : 0; 
padding : 0; 
}
ul{list-style: none;} /* 리스트 앞에 . 같은거 제거*/
a{text-decoration: none;} /* 링크에 밑줄 같은거 제거*/
.box_s_auto {
    margin : 10px auto;
    padding : 10px;
}
.btn_s {
    display: inline-block;
    padding: 0 4px;
    text-decoration: none;
    cursor: pointer;
    border-radius: 3px;
    background: white;
    border: 1px solid silver;
    color: green;
    height: 27px;
    line-height: 27px;
    vertical-align: top;
    font-size: 12px;
}

.btn_m {
    display: inline-block;
    padding: 0 4px;
    text-decoration: none;
    cursor: pointer;
    border-radius: 3px;
    background: white;
    border: 1.2px solid silver;
    color: green;
    height: 24px;
    line-height: 24px;
    vertical-align: top;
    font-size: 10px;
}
.btn_l {
    display: inline-block;
    padding: 0 6px;
    text-decoration: none;
    cursor: pointer;
    border-radius: 5px;
    background: white;
    border: 1.5px solid silver;
    color: green;
    height: 28px;
    line-height: 28px;
    vertical-align: top;
    font-size: 13px;
}
.btn_log {
    display: inline-block;
    padding: 0 4px;
    text-decoration: none;
    cursor: pointer;
    border-radius: 5px;
    background: white;
    border: 1px solid black;
    color: green;
    height: 28px;
    line-height: 28px;
    vertical-align: top;
    font-size: 13px;
    font-family : 'Do Hyeon';
}

.btn_f {
    display: inline-block;
    padding: 0 4px;
    text-decoration: none;
    cursor: pointer;
    border-radius: 5px;
    background: white;
    border: 1px solid black;
    box-shadow : 0 0 2px green;
    line-height: 17px;
    vertical-align: top;
    font-size : 17px;
    width : 75px;
    margin: 2px;
    font-family : 'Do Hyeon';
    color : darkslategrey;
    text-align : center;
}

.btn_sp {
    display: inline-block;
    padding: 3px 5px;
    text-decoration: none;
    cursor: pointer;
    border-radius: 5px;
    background: white;
    border: 1px solid black;
    box-shadow : 0 0 2px green;
    line-height: 21px;
    vertical-align: top;
    font-size : 21px;
    margin: 4px;
    font-family : 'Do Hyeon';
    color : darkslategrey;
    text-align : center;
}
.boldgreenfont{
    font-weight : bold;
    color : green;
}
.font_title{
    font-family : 'Do Hyeon';
    font-size : 30px;
}
.font_sub_title{
    font-size : 25px;
    font-weight : bold;
}
.font_content{
    font-size : 18px;
}

