{% extends 'layout.html' %}
{% block style %}
<style>
    #profile_box{
        width : 100%;
        margin : auto;
        background :white;
    }
    .nick{
        text-align : center;
        font-size : 30px;
    }
    .photo{
        text-align : center;
    }
    .profile_tb{
        margin : auto;
        border-collapse : collapse;
    }
    .profile_tb td{
        border : black solid 1px;
        padding-left : 5px;
        padding-right : 5px;
        font-size : 11px;
    }
    .profile_tb th{
        border : black solid 1px;
        padding-left : 5px;
        padding-right : 5px;
    }
    .profile_label_odd{
        background-color : lightgreen;
    }
    .profile_label_even{
        background-color : rgb(112, 209, 112);
    }
    .update_box td{
        padding: 10px 0px;
        text-align : center;
    }
    #follow_info{
        margin: auto;
        border: collapse;
        text-align:center;
        font-family:'Do Hyeon';
        font-size : 25px;
        color:green;
    }
    #follow_info{
        margin-top:15px;
    }
    #follower{
        color:green;
        font-weight : bold;
    }
    #following{
        color:green;
        font-weight : bold;
    }

    #update_ck_box{
        width : 400px;
        border : 1px solid black;   
        padding : 10px;
        text-align : center;
        margin : 15px auto;
        display : none;
    }
    #update_ck_box label{
        font-size : 18px;
        font-family : 'Do Hyeon';
        width : 200px; display: inline-block;
        margin-bottom : 6px;
    }
    #update_ck_box input{
        font-size : 14px;
        padding : 2px;
    }
    .profile_content{ 
        width : 440px;
        background-color : rgba(205, 247, 205, 0.555);
        border : 1px dotted black;
        margin : 18px auto;
        padding : 15px;
        font-size : 12px;
        text-align : center;
    }
    .profile_content table{
        margin:auto; 
        background-color : rgba(202, 201, 201, 0.342);
        border-collapse : collapse;
    }
    .profile_content table tr td{
        padding : 3px 10px;
        text-align: left; 
        font-size : 12px; 
        font-weight:bold; 
        border-top: 1px solid black;
        border-bottom: 1px solid black;
    }
    .profile_content h3{
        font-size : 18px;
        color :darkgreen;
        font-family : 'Do Hyeon';
        margin-bottom : 10px;
    }
    .profile_content input{
        display : inline-block;
        width : 90%;
        font-size : 12px;
        padding : 3px;
        margin : auto;
    }
    #content_content textarea{
        font-size : 12px;
        padding : 5px;
        text-overflow : ellipsis;
        text-align : left;
        font-family : Arial, Helvetica, sans-serif;
    }

</style>
{% endblock %}
{% block main_content %}
<div id="profile_box">
    <br><p class="nick"><span style="color:green; font-weight:bold;">{{profile.nick}}</span>님의 프로필</p>
    <table id ="follow_info">
        <tr>
            <td><button class="btn_f" onclick='follower_list();'>팔로워<br><span id="follower"></span></button></td>
            <td><button class="btn_f" onclick='following_list();'>팔로잉<br><span id="following"></span></button></td>
        </tr>
    </table>
    <br><hr><br>
    <table class="profile_tb">
        <tr>
            <td rowspan = "5" width = "210" class="photo">
                <img id="prof_photo" src='{{profile.photo}}' width="200" height="200"/>
            </td>
            <th class="profile_label_odd" width = "80">이름</th>
            <td width = "150">{{profile.user_name}}</td>
        </tr>
        <tr>    
            <th class="profile_label_even">ID</th>
            <td>{{profile.user_id}}</td>
        </tr>
        <tr>
            <th class="profile_label_odd"> 성별</th>
            <td>{{profile.gender}}</td>
        </tr>
        <tr>
            <th class="profile_label_even">이메일</th>
            <td>{{profile.email}}</td>
        </tr>
        <tr>
            <th class="profile_label_odd">생일</th>
            <td>{{profile.birth}}</td>
        </tr>
        <tr class="update_box">
            <input type="hidden" id="member_id" name="member_id" value="{{profile.id}}">
            <!-- 자신일 경우 보여지는 컨텐트-->
            {% if user and (user.id == profile.id) %}
            <form id="upload_form" method="post" enctype="multipart/form-data">
            <td>
                <input type="hidden" name="id" value="{{profile.id}}">
                <input id="photo_url" type="hidden" name="photo" value="">
                <input id="upload_photo" type="file" name="upload_img" style="display:none">
                <input class ="btn_m" type="button" onclick="onclick=document.getElementById('upload_photo').click()" value="사진 불러오기">
                <input class ="btn_m" type="button" onclick="update_photo(this.form);" value="사진 수정">
            </td>
            </form>
            <td colspan="2"><input class ="btn_l" type="button" onclick="update_ck();" value="개인정보 변경"></td>
            <!-- 자신이 아닐 때 보여지는 컨텐트-->
            {% else %}
            <form>
            <td>
                <input type="hidden" name="my_id" value="{{user.id}}">
                <input id="follow_btn" class ="btn_l" type="button" onclick="follow(this.form);" value="팔로우">
                <input id="unfollow_btn" class ="btn_l" type="hidden" onclick="unfollow(this.form);" value="언팔로우">
            </td>
            <td><input class ="btn_l" type="button" onclick="invite_team();" value="팀 초대"></td>
            <td><input class ="btn_l" type="button" onclick="message();" value="쪽지"></td>
            </form>
            {% endif %}
        </tr>
    </table>
    <div id="update_ck_box">
        <label>비밀번호 확인 </label><input type="password" id="input_pwd"><br>
        <button class ="btn_l" onclick="update_info();">회원정보 변경</button>
        <button class ="btn_l" onclick="user_del();" >회원 탈퇴</button>
        <button class ="btn_l" onclick="update_cancel();">취소</button>
    </div>
</div>
<!--활동 지역-->
<!--포지션-->
<div class="profile_content">
    <table>
        <tr>
            <td width="150"> <h3>활동 지역</h3> </td>
            <td width="250"> 
                <div id="region_content1">
                {% if profile.region %}
                {{profile.region}}
                {% else %}
                등록된 지역이 없습니다.
                {% endif %}
                </div>
                <div id="region_edit1" style="display:none;">
                    <input id="region_edit_value" value="{{profile.region}}">
                </div>      
            </td>
            <td width="150">
                {% if user and (user.id == profile.id) %}
                <div id="region_content2" >
                <button class="btn_m" onclick="edit_region();">내용 수정</button>
                </div>
                <div id="region_edit2" style="display:none;">
                <button class="btn_m" onclick="update_region();">수정 완료</button>
                <button class="btn_m" onclick="cancel_region();">취소</button>
                </div>  
                {% endif %}
            </td>
            </div>
        </tr>
        <tr>
            <td width="150"> <h3>메인 포지션</h3> </td>
            <td width="250"> 
                <div id="m_position_content1">
                {% if profile.main_position %}
                {{profile.main_position}}
                {% else %}
                등록된 포지션이 없습니다.
                {% endif %}
                </div>
                <div id="m_position_edit1" style="display:none;">
                    <input id="m_position_edit_value" value="{{profile.main_position}}">
                </div>      
            </td>
            <td width="150">
                {% if user and (user.id == profile.id) %}
                <div id="m_position_content2" >
                <button class="btn_m" onclick="edit_m_position();">내용 수정</button>
                </div>
                <div id="m_position_edit2" style="display:none;">
                <button class="btn_m" onclick="update_m_position();">수정 완료</button>
                <button class="btn_m" onclick="cancel_m_position();">취소</button>
                </div>  
                {% endif %}
            </td>
            </div>
        </tr>
        <tr>
            <td width="150"> <h3>부 포지션</h3> </td>
            <td width="250"> 
                <div id="s_position_content1">
                {% if profile.sub_position %}
                {{profile.sub_position}}
                {% else %}
                등록된 포지션이 없습니다.
                {% endif %}
                </div>
                <div id="s_position_edit1" style="display:none;">
                    <input id="s_position_edit_value" value="{{profile.sub_position}}">
                </div>      
            </td>
            <td width="150">
                {% if user and (user.id == profile.id) %}
                <div id="s_position_content2" >
                <button class="btn_m" onclick="edit_s_position();">내용 수정</button>
                </div>
                <div id="s_position_edit2" style="display:none;">
                <button class="btn_m" onclick="update_s_position();">수정 완료</button>
                <button class="btn_m" onclick="cancel_s_position();">취소</button>
                </div>  
                {% endif %}
            </td>
            </div>
        </tr>
    </table>
</div>
<!--소개글-->
<div class="profile_content" id="content_content">
    <h3>소개글</h3>
    <div id="contentP_content">
    <textarea rows="20" cols="60" disabled>{% if profile.content %}{{profile.content}}{% else %}등록된 소개글이 없습니다.{% endif %}
    </textarea>
    {% if user and (user.id == profile.id) %}
    <button class="btn_l" onclick="edit_content();">내용 수정</button>
    {% endif %}
    </div>
    <div id="contentP_edit" style="display:none;"> 
        <textarea id="contentP_edit_value" rows="20" cols="60">{{profile.content}}</textarea>
        <button class="btn_l" onclick="update_content();">수정 완료</button>
        <button class="btn_l" onclick="cancel_content();">취소</button>
    </div>
</div>

{% endblock %}

{% block script %}
<script>
$(function(){
    //프로필 사진이 없는 경우 갱신
    if('{{profile.photo}}' == "" || '{{profile.photo}}' == null){
        document.getElementById('prof_photo').src = "/img/profile_non.png";
    }
    const profID = document.getElementById('member_id').value;
    axios.get(`/user/follow/info/${profID}`)
    .then((res) => {
        if(res.data.res == "success"){
            if(profID != '{{user.id}}'){
                if(res.data.isFollowing){
                    document.getElementById('follow_btn').type = "hidden";
                    document.getElementById('unfollow_btn').type = "button";
                }
                else{
                    document.getElementById('follow_btn').type = "button";
                    document.getElementById('unfollow_btn').type = "hidden";
                }
            }
            document.getElementById('follower').innerHTML = res.data.follower;
            document.getElementById('following').innerHTML = res.data.following;
        }
        else{
            console.log('error');
        }
    })
    .catch((err) => {
        console.error(err);
    });
});
const edit_region = () => {
    document.getElementById('region_content1').style = "display:none;"
    document.getElementById('region_content2').style = "display:none;"
    document.getElementById('region_edit1').style = "display:unset;"
    document.getElementById('region_edit2').style = "display:unset;"
}
const cancel_region = () => {
    document.getElementById('region_content1').style = "display:unset;"
    document.getElementById('region_content2').style = "display:unset;"
    document.getElementById('region_edit1').style = "display:none;"
    document.getElementById('region_edit2').style = "display:none;"
}
const update_region = () => {
    const value = document.getElementById("region_edit_value").value;
    if(value.trim() < 1){
        alert('최소 한 글자 이상 입력해주세요');
        return;
    }
    axios.put('/user/region/{{user.id}}', { region :  value})
    .then((res) => {
        if(res.data.res == "success"){
            alert('성공적으로 변경되었습니다.');
            location.reload();
         }
        else{
            alert('변경에 실패했습니다.');
        }
    });
}
const edit_m_position = () => {
    document.getElementById('m_position_content1').style = "display:none;"
    document.getElementById('m_position_content2').style = "display:none;"
    document.getElementById('m_position_edit1').style = "display:unset;"
    document.getElementById('m_position_edit2').style = "display:unset;"
}
const cancel_m_position = () => {
    document.getElementById('m_position_content1').style = "display:unset;"
    document.getElementById('m_position_content2').style = "display:unset;"
    document.getElementById('m_position_edit1').style = "display:none;"
    document.getElementById('m_position_edit2').style = "display:none;"
}
const update_m_position = () => {
    const value = document.getElementById("m_position_edit_value").value;
    if(value.trim() < 1 || value.trim > 10){
        alert('포지션은 1-10자 이내로 입력해주세요.');
        return;
    }
    axios.put('/user/mainposition/{{user.id}}', { main_position :  value})
    .then((res) => {
        if(res.data.res == "success"){
            alert('성공적으로 변경되었습니다.');
            location.reload();
         }
        else{
            alert('변경에 실패했습니다.');
        }
    });
}
const edit_s_position = () => {
    document.getElementById('s_position_content1').style = "display:none;"
    document.getElementById('s_position_content2').style = "display:none;"
    document.getElementById('s_position_edit1').style = "display:unset;"
    document.getElementById('s_position_edit2').style = "display:unset;"
}
const cancel_s_position = () => {
    document.getElementById('s_position_content1').style = "display:unset;"
    document.getElementById('s_position_content2').style = "display:unset;"
    document.getElementById('s_position_edit1').style = "display:none;"
    document.getElementById('s_position_edit2').style = "display:none;"
}
const update_s_position = () => {
    const value = document.getElementById("s_position_edit_value").value;
    if(value.trim() < 1 || value.trim > 10){
        alert('포지션은 1-10자 이내로 입력해주세요.');
        return;
    }
    axios.put('/user/subposition/{{user.id}}', { sub_position :  value})
    .then((res) => {
        if(res.data.res == "success"){
            alert('성공적으로 변경되었습니다.');
            location.reload();
         }
        else{
            alert('변경에 실패했습니다.');
        }
    });
}

const edit_content = () => {
    document.getElementById('contentP_content').style = "display:none;"
    document.getElementById('contentP_edit').style = "display:unset;"
}
const cancel_content = () => {
    document.getElementById('contentP_content').style = "display:unset;"
    document.getElementById('contentP_edit').style = "display:none;"
}
const update_content = () => {
    const value = document.getElementById("contentP_edit_value").value;
    if(value.trim() < 10 || value.trim > 1000){
        alert('10-1000자 이내로 입력해주세요.');
        return;
    }
    axios.put('/user/content/{{user.id}}', { content :  value})
    .then((res) => {
        if(res.data.res == "success"){
            alert('성공적으로 변경되었습니다.');
            location.reload();
         }
        else{
            alert('변경에 실패했습니다.');
        }
    });
}

const message = () => {
    if(!'{{user}}'){
        alert('로그인 후 이용하세요');
        return;
    }
    if('{{profile.id}}' == '{{user.id}}'){
        alert('자기 자신에게 메세지를 보낼 수 없습니다.');
        return;
    }
    window.open("/message/form/{{profile.id}}", "쪽지 보내기", "width=550, height=450, left=300, top=50, scrollbars=yes");
}

const invite_team = () => {
    if(!'{{user}}'){
        alert('로그인 후 이용하세요');
        return;
    }
    if('{{profile.id}}' == '{{user.id}}'){
        alert('자기 자신에게 초대할 수 없습니다.');
        return;
    }
    window.open("/message/inviteform/{{profile.id}}", "팀 초대하기", "width=550, height=450, left=300, top=50, scrollbars=yes");
}
</script>
<!-- 프로필 수정 관련 js -->
<script type="text/javascript" src="/js/profile.js"></script>


{% endblock %}
